@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: #fff;
}

.videobg {
  height: 100%; 
  width: 100%; 
  z-index: 0; 
  position: absolute; 
  overflow: hidden; 
  inset: 0px; 
  pointer-events: none; 
  background-image: url(&quot;https://img.youtube.com/vi/s0sKwx3Iero/maxresdefault.jpg&quot;); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}

.videobg::after {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000000b5;
  position: absolute;
}

.video {
  top: 50%; 
  left: 50%; 
  transform: translateX(-50%) translateY(-50%); 
  position: absolute; 
  opacity: 1; 
  width: 100%; 
  height: 120%;
}

.mainblock {
  position: relative;
  text-align: center;
}

.title {
  margin: 200px 0 60px 0;
  font-size: 50px;
  font-weight: 700;
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  width: 360px;
  height: 60px;
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  background: #785e93;
  -webkit-transition: 0.5s ease; 
  -moz-transition: 0.5s ease; 
  -o-transition: 0.5s ease;
}

.links a:hover {
  transform: translateY(-1px);
  transition: 0.5s;
  box-shadow: 5px 5px 20px #775e93d2;
}